body{
  background-color:#6C6B7F;
}

#header{
  background-color: #47457F;
  color: #D8D6FF;
}

.restaurant{
  border-color:#6C6B7F;
  background-color: #D8D6FF;
}

.title.active h4{
  color:#47457F;
}

.visit-source{
  background-color: #47457F;
}
