#header{
  width:100%;
  text-align:center;
  padding-bottom: 3%;
  opacity: 0.8;
  padding-top:1%;
  background-color: #47457F;
  color: #D8D6FF;
}

#header h1{
  display:inline-block;
  margin-bottom: 1%;
  margin-top:0;
  margin-right:auto;
  margin-left:auto
}

.title.active h4{
  color:#47457F;
}
