/*html {
  overflow-x: hidden;
  overflow-y: hidden;
}*/

body{
  background-color:#0E0E2D;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main-container{
  background-image: url("../images/san-francisco-skyline-night-full.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
}

#main-loader {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40%;
}

@media (min-width: 1000px) {
/*large computer screen*/
  #main-container {
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
  }

  #main-loader {
    width: 20%;
    height: 200px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20%;
  }
}

#no-results {
  margin-top: 10%;
  text-align: center;
  color: #D8D6FF;
}

/*Utility Classes*/
.pull-right{
  float:right;
}

.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.hidden{
  visibility:hidden;
}

.visit-source{
  width: 100%;
  background-color: #47457F;
}

.visit-yelp{
  width: 100%;
}

.logo{
  width:100%
}

.logo img{
  width:150px;
  margin: auto;
}

.divider{
  height:5px;
}
