body{
  background-color:#0E0E2D;
}

#main-container{
  background-image: url("../images/san-francisco-skyline-night-full.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 100%;
}

@media (min-width: 1000px) {
/*large computer screen*/
  #main-container {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
  }
}

#no-results {
  text-align: center;
}

/*Utility Classes*/
.pull-right{
  float:right;
}

.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.hidden{
  visibility:hidden;
}

.visit-source{
  width: 100%;
  background-color: #47457F;
}

.visit-yelp{
  width: 100%;
}

.logo{
  width:100%
}

.logo img{
  width:150px;
  margin: auto;
}

.divider{
  height:5px;
}
