.restaurant{
  background: #dcdcdc;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin:10px;
  box-shadow: 0px 10px 20px rgba(22, 22, 22, 0.3);
  border-radius: 5px;

}

.title {
  color: rgba(48,48,48,1) !important;
  font-family: 'Lato', sans-serif;
}

.content .header{
  color: #1A6E94 !important;
  font-family: 'Lato', sans-serif;
}

.content {
  padding: 15px;
  opacity:1;
  margin-bottom:3%;
  font-family: 'Lato', sans-serif;
}

.content .active {
  padding-bottom: 10%;
}


.restaurant-head{
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}
.restaurant-head img{
  width:160px;
}
.restaurant-head .external-nav{
  width: 157px;
  margin-right: 0%;
  margin-left: auto;

}
