
#search-form {
  font-size: 150%;
  margin-top: -5%;
  margin-bottom: -3%;
}

#search-container{
  height:85vh;
  overflow-y:scroll;
  overflow-x:hidden;
}

@media (max-width: 400px) {
  #search-form {
    margin-top: -20%;
    margin-bottom: -8%;
  }
}
